@font-face {
  font-family: 'CartographCF-ExtraBold';
  src: url('fonts/CartographCF-ExtraBold.eot');
  src: url('fonts/CartographCF-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('fonts/CartographCF-ExtraBold.woff2') format('woff2'),
       url('fonts/CartographCF-ExtraBold.woff') format('woff'),
       url('fonts/CartographCF-ExtraBold.otf') format('opentype');
}

@font-face {
  font-family: 'CartographCF-DemiBoldItalic';
  src: url('fonts/CartographCF-DemiBoldItalic.eot');
  src: url('fonts/CartographCF-DemiBoldItalic.eot?#iefix') format('embedded-opentype'),
       url('fonts/CartographCF-DemiBoldItalic.woff2') format('woff2'),
       url('fonts/CartographCF-DemiBoldItalic.woff') format('woff'),
       url('fonts/CartographCF-DemiBoldItalic.otf') format('opentype');
}

@font-face {
  font-family: 'CartographCF-Regular';
  src: url('fonts/CartographCF-Regular.eot');
  src: url('fonts/CartographCF-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/CartographCF-Regular.woff2') format('woff2'),
       url('fonts/CartographCF-Regular.woff') format('woff'),
       url('fonts/CartographCF-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'CartographCF-HeavyItalic';
  src: url('fonts/CartographCF-HeavyItalic.eot');
  src: url('fonts/CartographCF-HeavyItalic.eot?#iefix') format('embedded-opentype'),
       url('fonts/CartographCF-HeavyItalic.woff2') format('woff2'),
       url('fonts/CartographCF-HeavyItalic.woff') format('woff'),
       url('fonts/CartographCF-HeavyItalic.otf') format('opentype');
}

@font-face {
  font-family: 'CartographCF-ExtraLight';
  src: url('fonts/CartographCF-ExtraLight.eot');
  src: url('fonts/CartographCF-ExtraLight.eot?#iefix') format('embedded-opentype'),
       url('fonts/CartographCF-ExtraLight.woff2') format('woff2'),
       url('fonts/CartographCF-ExtraLight.woff') format('woff'),
       url('fonts/CartographCF-ExtraLight.otf') format('opentype');
}

@font-face {
  font-family: 'CartographCF-Light';
  src: url('fonts/CartographCF-Light.eot');
  src: url('fonts/CartographCF-Light.eot?#iefix') format('embedded-opentype'),
       url('fonts/CartographCF-Light.woff2') format('woff2'),
       url('fonts/CartographCF-Light.woff') format('woff'),
       url('fonts/CartographCF-Light.otf') format('opentype');
}

@font-face {
  font-family: 'CartographCF-Bold';
  src: url('fonts/CartographCF-Bold.eot');
  src: url('fonts/CartographCF-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/CartographCF-Bold.woff2') format('woff2'),
       url('fonts/CartographCF-Bold.woff') format('woff'),
       url('fonts/CartographCF-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'CartographCF-ExtraLightItalic';
  src: url('fonts/CartographCF-ExtraLightItalic.eot');
  src: url('fonts/CartographCF-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
       url('fonts/CartographCF-ExtraLightItalic.woff2') format('woff2'),
       url('fonts/CartographCF-ExtraLightItalic.woff') format('woff'),
       url('fonts/CartographCF-ExtraLightItalic.otf') format('opentype');
}

@font-face {
  font-family: 'CartographCF-LightItalic';
  src: url('fonts/CartographCF-LightItalic.eot');
  src: url('fonts/CartographCF-LightItalic.eot?#iefix') format('embedded-opentype'),
       url('fonts/CartographCF-LightItalic.woff2') format('woff2'),
       url('fonts/CartographCF-LightItalic.woff') format('woff'),
       url('fonts/CartographCF-LightItalic.otf') format('opentype');
}

@font-face {
  font-family: 'CartographCF-RegularItalic';
  src: url('fonts/CartographCF-RegularItalic.eot');
  src: url('fonts/CartographCF-RegularItalic.eot?#iefix') format('embedded-opentype'),
       url('fonts/CartographCF-RegularItalic.woff2') format('woff2'),
       url('fonts/CartographCF-RegularItalic.woff') format('woff'),
       url('fonts/CartographCF-RegularItalic.otf') format('opentype');
}

@font-face {
  font-family: 'CartographCF-Thin';
  src: url('fonts/CartographCF-Thin.eot');
  src: url('fonts/CartographCF-Thin.eot?#iefix') format('embedded-opentype'),
       url('fonts/CartographCF-Thin.woff2') format('woff2'),
       url('fonts/CartographCF-Thin.woff') format('woff'),
       url('fonts/CartographCF-Thin.otf') format('opentype');
}

@font-face {
  font-family: 'CartographCF-ExtraBoldItalic';
  src: url('fonts/CartographCF-ExtraBoldItalic.eot');
  src: url('fonts/CartographCF-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
       url('fonts/CartographCF-ExtraBoldItalic.woff2') format('woff2'),
       url('fonts/CartographCF-ExtraBoldItalic.woff') format('woff'),
       url('fonts/CartographCF-ExtraBoldItalic.otf') format('opentype');
}

@font-face {
  font-family: 'CartographCF-BoldItalic';
  src: url('fonts/CartographCF-BoldItalic.eot');
  src: url('fonts/CartographCF-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('fonts/CartographCF-BoldItalic.woff2') format('woff2'),
       url('fonts/CartographCF-BoldItalic.woff') format('woff'),
       url('fonts/CartographCF-BoldItalic.otf') format('opentype');
}

@font-face {
  font-family: 'CartographCF-Heavy';
  src: url('fonts/CartographCF-Heavy.eot');
  src: url('fonts/CartographCF-Heavy.eot?#iefix') format('embedded-opentype'),
       url('fonts/CartographCF-Heavy.woff2') format('woff2'),
       url('fonts/CartographCF-Heavy.woff') format('woff'),
       url('fonts/CartographCF-Heavy.otf') format('opentype');
}

@font-face {
  font-family: 'CartographCF-ThinItalic';
  src: url('fonts/CartographCF-ThinItalic.eot');
  src: url('fonts/CartographCF-ThinItalic.eot?#iefix') format('embedded-opentype'),
       url('fonts/CartographCF-ThinItalic.woff2') format('woff2'),
       url('fonts/CartographCF-ThinItalic.woff') format('woff'),
       url('fonts/CartographCF-ThinItalic.otf') format('opentype');
}

@font-face {
  font-family: 'CartographCF-DemiBold';
  src: url('fonts/CartographCF-DemiBold.eot');
  src: url('fonts/CartographCF-DemiBold.eot?#iefix') format('embedded-opentype'),
       url('fonts/CartographCF-DemiBold.woff2') format('woff2'),
       url('fonts/CartographCF-DemiBold.woff') format('woff'),
       url('fonts/CartographCF-DemiBold.otf') format('opentype');
}