html, body {
    background-image: url('img/Map-BG.png');
    height: 100%;
    overflow: hidden
}

body, label, input, textarea, button{
    font-feature-settings: "liga";
    font-family: "CartographCF-DemiBold", "Courier New", monospace;
    color: white !important
}

input, textarea{
    font-family: "CartographCF-Light", "Courier New", monospace;
}

button{
    background-color: #3767FF !important;
    border-radius: 0 !important;
    width: 100%;
    font-size: 16px !important;
    text-transform: none !important;
}

.full-width-img, #newsite_text{
    width: 100%
}

.container{
    width: 90%;
}

#descript_text{
    width: 75%
}

.no-padding{
    padding: 0;
}

.fixed-bottom{
    margin: 0 75px
}

.full-page-icon{
    margin-left:20px
}

#mobile-footer{
    margin:0;
    padding-top:30px;
    height: 104px;
    padding-bottom:20px;
    background: url('img/BG.svg');
    background-repeat: repeat-x;
    min-width: 100%;
}

@media only screen and (max-width: 991px) {
    body{
        overflow: scroll
    }

    .fixed-bottom, .fixed-bottom .row{
        margin:0
    }
}

@media only screen and (max-width: 575px) {
    #logo, #descript_text{
        width: 80%
    }

    .container {
        padding: 0;
        width: 100%
    }
}