html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background-color: #45509E;
    font-family: 'Playfair Display', serif;
    width: 100%;
    font-size: 1.5rem; /*fonte do about us*/
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    font-family: "PT Sans Regular";
    color: #ebf6ff;
}

#parallax {
    height: 1080px;
    overflow: hidden;
    position: relative;
}


.layer {
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 1080px;
    position: fixed;
    z-index: -1;
    background-size: auto 100%;
}

#foreground {
    position: absolute; 
    top: 0; 
    width: 100%; 
    height: 1080px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto auto; 
    background-image: url('../img/fg.png');
    text-align: center;
}

.content {
    /*background-image: url('../img/background-bottom.png');*/
    background-position: top center;
    background-size: auto auto;
    overflow:hidden;
    width:100%;
}

.first-section {
    padding: 50px 0 20px 0;
}

.text-header {
    font-size: 50px;
    text-align: center;
}

h1 {
    line-height: 120%;
    margin-bottom: 30px;
    font-size: 2.5rem;  /*FONTE DOS TEXTOS GRANDES*/
    font-family: "Mohave Bold";
}

p {
    line-height: 150%;
}

/*#parallax, .layer {
    min-height: 994px;
}*/

.layer-bg {
    /*background-image: url("../img/background-top.png");*/
    background-image: url("../img/ms_clouds_back.png");
}

.layer-parallax {
    background-image: url("../img/parallax.png");
}

.layer-0 {
    background-image: url("../img/layer0.png");
}

.layer-1 {
    background-image: url("../img/layer0_1.png");
}

.layer-2 {
    background-image: url("../img/layer1.png");
}

.layer-3 {
    background-image: url("../img/layer2.png");
}

.layer-4 {
    /*background-image: url("../img/layer3.png");*/
    background-image: url("../img/ms_clouds_middle.png");
}

.layer-5 {
    background-image: url("../img/layer4.png");
}

.layer-overlay {
    background-image: url("../img/logo.png");
    height: 100%;
    background-position: center;
    background-size: auto auto;
}

#scrollTarget{
    background-image: url('../img/cloud_top.png'), url('../img/aboutus-header.png'), 
    url("../img/ms_about_crystal3.png"), url("../img/background-bottom.png");
    background-position: left bottom, center bottom, right bottom, center top;
    background-repeat: no-repeat, repeat-x, no-repeat, no-repeat;
    height: 216px;
}

#aboutus{
    background-image: url('../img/cloud_bottom.png');
    background-color: #EBF6FF;
    background-position: left top;
    background-repeat: no-repeat;
    text-align: center;
    padding-bottom:25px;
    color: #272e59;
    min-height: 164px;
}

#music{
    background-color: #221F2F;
    background-image: url('../img/aboutus_bottom.png'),
        url('../img/ms_about_crystal1.png'), url('../img/ms_about_crystal2.png'), 
        url('../img/ms_music_bg_right.gif'),
        url('../img/ms_music_bg_left.gif');
    background-position: top, 
        left top, right top,
        right top,
        left top;
    background-repeat: repeat-x, 
        no-repeat, no-repeat,
        no-repeat,
        no-repeat;
    background-size: auto auto, 
        auto auto, auto auto, 
        auto auto, 
        auto auto;
    text-align: center;
    min-height: 1908px;
}

@media screen and (max-width: 1855px) {
    #music{
        background-color: #221F2F;
        background-image: url('../img/aboutus_bottom.png'),
            url('../img/ms_about_crystal1.png'), url('../img/ms_about_crystal2.png'), 
            url('../img/ms_music_bg_right.gif'),
            url('../img/ms_music_bg_left.gif');
        background-position: top, 
            left top, right top,
            right top,
            left top;
        background-repeat: repeat-x, 
            no-repeat, no-repeat,
            no-repeat,
            no-repeat;
        background-size: auto auto, 
            auto auto, auto auto, 
            402px auto, 
            402px auto;
    }
}

@media screen and (min-width: 1301px) and (max-width: 1679px) {
    .musicspot{
        background-image: url('../img/ms_music_spot.png') !important;
    }
    .musicspotL{
        background-position: calc(100% - 33px) -3px !important;
    }
    .musicspotR{
        background-position: 33px -3px !important;
    }
}

@media screen and (max-width: 1300px) {
    #music{
        background-image: url('../img/aboutus_bottom.png'),
        url('../img/ms_about_crystal1.png'), url('../img/ms_about_crystal2.png');
        background-position: top, 
        left top, right top;
        background-repeat: repeat-x, 
        no-repeat, no-repeat;
        background-size: auto auto, 
        auto auto, auto auto;
    }
}

@media screen and (max-width: 767px) {
    #music{
        background-image: url('../img/aboutus_bottom.png');
        background-position: top;
        background-repeat: repeat-x;
        background-size: auto auto;
    }
    #aboutus{
        background-image:none
    }
    #scrollTarget{
        background-image: url('../img/aboutus-header.png'), url("../img/background-bottom.png");
        background-position: center bottom, center top;
        background-repeat: repeat-x, no-repeat;
    }
}

#footer{
    background-color: #272E58;
    background-image: url('../img/music_transition.png'),
        url('../img/ms_footer.png'),
        url('../img/ms_footer_clouds.png');
    background-position: top, bottom, bottom;
    background-repeat: no-repeat, repeat-x, no-repeat;
    background-size: auto auto, auto auto, auto auto;
}

a, a:hover {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

textarea {
    resize: none;
}

.form-group{
    font-size: 1rem;  /*fonte do contact us*/
}

.form-control, .form-control:focus{
    background-color:#221F2F;
    color: #ebf6ff;
    border: 1px solid #1d2124;
    font-size:  1.125em;
}

.form-group button{
    background-color:#221F2F;
    border: 1px solid #1d2124;
    font-size:  1.125em;
}

.form-group button:hover{
    background-color:#221F2F;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(82,88,93,.5);
}

.form-group button:focus{
    background-color:#221F2F;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}

#redes-sociais{
    background-color:#221F2F;
    font-size: 1.333rem; /*fonte das redes sociais*/
}

.musicspot {
    background-size: auto auto;
    background-repeat: no-repeat;
    height: 397px;
}

.musicspotL{
    background-position: right;
    text-align: right;
}

.musicspotR{
    background-position: left;
    text-align: left;
}

.musicspotL iframe{
    margin-right: 26px;
}

.musicspotR iframe{
    margin-left: 26px;
}

.musicspot iframe{
    height: 300px;
    width: 300px;
    border: 0;
    padding: 0;
}

.musicspot iframe, .textspot{
    margin-top: 46px;
}

.textspotL{
    text-align: right;
    margin-right: 20px;
}

.textspotR{
    text-align: left;
    margin-left: 20px;
}

.textspot{
    max-width: 433px !important;
}

.gameTitle{
    color: #50d3d9;
    font-size: 2rem;
}

#banner{
    height:112px;
    background-image: url('../img/ms_music_bandcamp.png');
    background-position: center;
    padding-top: 22px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 75px;
}

#banner span:hover, #banner span:active{
    color: #f5883f;
    cursor: pointer;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .textspot{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .musicspot{
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 991px) {
    .textspot{
        text-align: center; 
        padding: 0 20px;
        margin-top: 0px;
        margin-bottom: 20px;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .textspotL{
        text-align: left;
        margin-left: 20px;
    }
    
    .textspotR{
        text-align: right;
        margin-right: 20px;
    }
}

@media screen and (max-width: 710px) {
    .musicspot{
        background-image: url('../img/ms_music_spot.png') !important;
        background-position: center !important;
        text-align: center;
    }
    .musicspot iframe{
        margin: 0 !important;
        margin-top: 49px !important;
    }
}

@media screen and (max-width: 640px) {
    .layer-overlay {
        background-size: 90% auto;
    }
    #redes-sociais{
        text-align: center !important;
    }
    #copyright{
        text-align: center !important;
    }
    /*body{
        font-size: 2.75rem;
    }
    .form-group{
        font-size: 2.125rem;
    }
    h1{
        font-size: 4.5rem;
    }
    #redes-sociais{
        font-size: 2rem;
    }
    #banner{
        padding-top: 6px;
    }
    .textspot{
        max-width: 100% !important;
    }*/
}

@media (orientation: landscape) and (max-width: 991px) {
    .layer-overlay {
        background-size: 66% auto;
    }
  }