@font-face {
font-family: 'PT Sans Regular';
font-style: normal;
font-weight: normal;
src: local('PT Sans Regular'), url('PTSans-Regular.ttf') format('truetype');
}


@font-face {
font-family: 'PT Sans Italic';
font-style: normal;
font-weight: normal;
src: local('PT Sans Italic'), url('PTSans-Italic.ttf') format('truetype');
}

@font-face {
font-family: 'PT Sans Bold';
font-style: normal;
font-weight: normal;
src: local('PT Sans Bold'), url('PTSans-Bold.ttf') format('truetype');
}


@font-face {
font-family: 'PT Sans Bold Italic';
font-style: normal;
font-weight: normal;
src: local('PT Sans Bold Italic'), url('PTSans-BoldItalic.ttf') format('truetype');
}